{
  "All Zero": {
    "ShoulderR": 0.0,
    "ShoulderL": 0.0,
    "ArmUpperR": 0.0,
    "ArmUpperL": 0.0,
    "ArmLowerR": 0.0,
    "ArmLowerL": 0.0,
    "PelvYR": 0.0,
    "PelvYL": 0.0,
    "PelvR": 0.0,
    "PelvL": 0.0,
    "LegUpperR": 0.0,
    "LegUpperL": 0.0,
    "LegLowerR": 0.0,
    "LegLowerL": 0.0,
    "AnkleR": 0.0,
    "AnkleL": 0.0,
    "FootR": 0.0,
    "FootL": 0.0,
    "Neck": 0.0,
    "Head": 0.0
  },
  "Standing": {
    "ShoulderR": 0.0,
    "ShoulderL": 0.0,
    "ArmUpperR": -1.0,
    "ArmUpperL": 1.0,
    "ArmLowerR": 0.57,
    "ArmLowerL": -0.57,
    "PelvYR": 0.0,
    "PelvYL": 0.0,
    "PelvR": 0.0,
    "PelvL": 0.0,
    "LegUpperR": 0.3,
    "LegUpperL": -0.3,
    "LegLowerR": -0.6,
    "LegLowerL": 0.6,
    "AnkleR": -0.3,
    "AnkleL": 0.3,
    "FootR": 0.0,
    "FootL": 0.0,
    "Neck": 0.0,
    "Head": 0.0
  },
  "Fall Forward": {
    "ShoulderR": 1.0,
    "ShoulderL": -1.0,
    "ArmUpperR": -0.9,
    "ArmUpperL": 0.9,
    "ArmLowerR": 0.4,
    "ArmLowerL": -0.4,
    "PelvYR": 0.0,
    "PelvYL": 0.0,
    "PelvR": 0.0,
    "PelvL": 0.0,
    "LegUpperR": 0.57,
    "LegUpperL": -0.57,
    "LegLowerR": -1.5,
    "LegLowerL": 1.5,
    "AnkleR": 0.0,
    "AnkleL": 0.0,
    "FootR": 0.0,
    "FootL": 0.0,
    "Neck": 0.0,
    "Head": 0.0
  },
  "current_preset": "Standing"
}

